header{
    background: blue;
    color: rgb(204, 239, 248);
    padding: 3rem;
}

.list li{
    background: cornsilk;
    padding: 2rem;
    margin: 1%;
}

.list form{
    display: inline;
}

.item{
    font-size: 1.3rem;
}

.item-price{
  font-style:italic;
  font-size:0.8rem;
  color:green;
}
.item-desc{
    display: block;
    font-size: 1rem;
}


footer{
    background: rgb(34, 32, 32);
    color: gray;
    padding: 3rem;
}